@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Outfit', sans-serif;
    background-color: hsl(212, 45%, 89%);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.container {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
    padding: 20px;
    width: 300px;
}
.qr-code {
    width: 100%;
    border-radius: 10px;
}
.qr-heading {
    font-size: 1.5rem;
    margin: 20px 0 10px;
    color: hsl(218, 44%, 22%);
}
.qr-description {
    font-size: 1rem;
    color: hsl(220, 15%, 55%);
    line-height: 1.5;
}