@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Outfit', sans-serif;
    background-color: hsl(212, 45%, 89%);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: auto; 
    padding: 0 20px;
}

.main {
    display: flex;
    background-color: hsl(216, 15%, 48%);
    justify-content: center;
    align-items: center;
    height: 80%;
    width: 80%;
    padding: 20px;
}
.container {
    display: flex; 
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: hsl(0, 0%, 100%);
    border: 1px solid hsl(220, 15%, 55%);
    max-width: 1440px;
    margin: 20px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
    padding: 20px;
    width: 350px;
}
.qr-code {
    width: 100%;
    border-radius: 10px;
}
.qr-heading {
    font-size: 1.5rem;
    margin: 20px 0 10px;
    color: hsl(218, 44%, 22%)
}
.qr-description {
    font-size: 1rem;
    color: hsl(220, 15%, 55%);
    line-height: 1.5;
}

@media (max-width: 375px) {

    .main{
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: hsl(216, 15%, 48%);
    }

  .container {
    max-width: 350px;
    padding: 12px;
  }
  
  .qr-heading {
    font-size: 20px;
  }
  
  .qr-description {
    font-size: 14px;
  }
}